body {  
}

p {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

#main {
  background-color: #ededed;
}

#whatido {
  background-color: #009999;
}

#projects {
  background-color: #333333;
}

#contact {
  background-color: #ededed;
}

.love {
  /*color: #ff0066;*/
  /*color: #ff3366;*/
  color: #ff0066;
  font-family: 'Dancing Script', Georgia, Times, serif;
  font-size: 1.5em;
  font-weight: 300;
  margin: 20px;
  text-shadow: #cc3366 -1px -1px 0, white 0px 1px 0;
}

.top-bar .name h1 a {
  color: #ff0066;
  font-size: 1.6em;
  text-shadow: none;
}

.top-bar {
  background-color: #000000;
}

#photoHelena {
  margin-top: 10%;
}

#main h1 {
  font-family: 'Magra', sans-serif;
  font-size: 2.1em;
  font-weight: 700;
  line-height: 1.15em;
  margin-top: -8%;
  text-shadow: white 1px 1px 0;
}

#main h2 {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: 300;
  text-shadow: white 1px 1px 0;
}

#main h1, #main h2 {
  color: #525353;
  text-align: center;
}

#whatido h1, #projects h1, #contact h1, #contact h2 {
  color: #FFFFFF;
  font-family: 'Magra', sans-serif;
  font-size: 2.6em;
  font-weight: 700;
  line-height: 1.15em;
  margin-top: 10%;
  text-align: center;
  /*text-shadow:*/ black 1px 1px 0;
  /*text-shadow: -1px -1.5px 0.4px #333333, 1px 1px 0 white;*/
  /*text-shadow: -2px -2.5px 0.7px #333333, 0.5px 0.5px white;*/
  /*text-shadow: -1px -2.85px 0.4px #333333, 1px 1px 0 white;*/
  text-shadow: -1px -2.35px 1.75px #333333, -0.5px 0.5px 0.25px white;

}

#contact h1, #contact h2 {
  color: #009999;
}


#contact h2 {
  font-size: 1.8em;
}

#projects h2, #whatido h2 {
  /*color: #cc3366;*/
  color: #ff0066;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 1.8em;
  font-weight: 300;
  text-shadow: #cc3366 -1px -1px 0, black 0px 1px 0;
}

#about p {
  color: #333333;
  font-size: 1.2em;
  text-align: center;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: 300;
  /*text-shadow: #333333 -1px -1px 0, white 1px 1px 0;*/
}


/*Small-Medium screens min-width 500px */
@media only screen and (min-width: 26em) {
  #main h1 {
    font-size: 2.6em;
    font-weight: 700;
    line-height: 1.2em;
    text-shadow: #333333 -1px -1px 0, white 1px 1px 0;
  }

  #main h2 {
    font-size: 1.4em;
    font-weight: 300;
  }

  #whatido h1, #projects h1, #contact h1 {
    font-size: 5em;
  }

  #whatido h2, #projects h2, #contact h2 {
    font-size: 2.5em;
  }
}

/*Medium screens min-width 641px */
@media only screen and (min-width: 40.063em) {
  #main h1 {
    line-height: 1.25em;
    margin-top: 20%;
    text-shadow: #333333 -1px -1px 0, white 1px 1px 0;
  }

  #main h2 {
    font-size: 1.3em;
    font-weight: 300;
  }

  #whatido h1, #projects h1, #contact h1 {
    font-size: 7em;
  }
}



/*Large screens min-width 1025px*/
@media only screen and (min-width: 64.063em) {
  #main h1 {
    font-size: 4em;
    font-weight: 700;
    line-height: 1.25em;
    text-shadow: #333333 -1px -1px 0, white 1px 1px 0;
  }

  #main h2 {
    font-size: 1.6em;
    font-weight: 300;
  }
}


